[2010-11-29 20:19] jeffkreeftmeijer opened #1 "Use Machinist in the specs"
Don't `create!` stuff all over the place!

[2010-11-29 22:55] jeffkreeftmeijer opened #2 "iPhone / iPad viewport meta tag"

[2010-11-29 23:04] blister opened #3 "Need a way to link in "Organizations""
Maybe I'm missing something, but I am the "owner" of a GitHub organization that handles all of my actual open source projects. Everything that is listed as a project under my account is silly little stuff that I hack on from time to time while all of the big "projects" are listed under the Organization.

When I linked my account to stillmaintained, it didn't give me the option of doing anything wi

[2010-11-29 23:19] jeffkreeftmeijer commented on #3
Hi Eric,

You're absolutely right. Right now, stillmaintained only fetches the user's repositories. Adding organization support is high on the list, but it's a separate API: http://support.github.com/discussions/api/133-beta-organization-api

Thanks for creating this issue so I don't forget. :)
- Jeff

[2010-11-30 20:49] matsimitsu opened #4 "API"
An API would be nice. It only requires a bit of code but other people can build upon it (eg. bundler/site integration)

[2010-12-01 08:39] nvie opened #5 "Provide a simple API that returns icons"
It would be cool if there were a simple API call that returns a small PNG icon of the project's status. Let's say at:

[code]

So one could reference them in an image, like so: `<img src="https://stillmaintained.com/api/v1/status/foo/bar" />`.

Even the grand masters of Github themselves could then show the project's status right on the project page by simply including a small HTML snippet (if the

[2010-12-01 08:59] jeffkreeftmeijer commented on #5
Great idea. I would probably go for `http://stillmaintained.com/jeffkreeftmeijer/fuubar.png` as the url though, just to keep it simple.

What icons should be used? Currently, StillMaintained doesn't really use _any_ images (except for the fork me ribbon). I think you're talking about the colored bullets on the project list?

Can somebody create nice icons? :)

[2010-12-01 09:24] nvie commented on #5
Yeah, that URL would be simpler, thus nicer. Keep in mind though that if you'd really like to propose this as a feature on Github itself (as far as those requests would be taken seriously), that you'd need an HTTPS URL for that.

[2010-12-01 18:59] trans opened #6 "Three Lists"
Got to provide three lists, one for each type. Looking through a single long list only distinguishable by a tiny colored dot makes it rather too arduous to be useful.

[2010-12-01 19:06] trans opened #7 "Adoption Bounties"
It would be very cool if their were a way to have adoption bounties. So that anyone who would like to see a project continued that has been abandoned or up for adoption can contribute to the fund. Perhaps it can be built on GitHub's Pledgie plugin.

[2010-12-04 18:55] matsimitsu opened #9 "Search"
Search would be nice

[2010-12-04 19:40] matsimitsu commented on #9
https://github.com/jeffkreeftmeijer/stillmaintained/pull/8

[2010-12-05 09:31] jeffkreeftmeijer commented on #4
A JSON API was added in #8. How about an XML API? Anyone interested in using/building that? :)

[2010-12-05 09:35] jeffkreeftmeijer commented on #5
Robert added this in aa06e1a5fdf7f3f95968854f7091c3fac39fab3d, but I'm not sure about the icons, since they're just colored bullets.

Can we make a button that has the little colored bullet and a text next to it saying "Still maintained" / "Looking for a new maintainer" / "Abandoned"?

Any other ideas? :)

[2010-12-05 10:03] jeffkreeftmeijer commented on #9
Closed by e4c7566ffe670c2b247959ebc7caef69d730a15d

[2010-12-05 10:03] #9 closed, assigned to nobody

[2010-12-06 17:46] matsimitsu commented on #5
Yeah i just created 'bigger' dots in photoshop :)

Text might be to large, but we could also just make a few variations, the code is already there.

[2010-12-07 17:57] jeffkreeftmeijer commented on #5
Closed by 4d81bde4e534acf5214488d36506922146415873 :)

[2010-12-07 17:57] #5 closed, assigned to nobody

[2010-12-07 22:31] jeffkreeftmeijer commented on #3
Closed by 05e58dfb06d457b20ae02d76efc2d5861831a7ec

[2010-12-07 22:31] jeffkreeftmeijer commented on #3
Closed by 05e58dfb06d457b20ae02d76efc2d5861831a7ec

[2010-12-08 04:33] 525c1e21-bd67-4735-ac99-b4b0e5262290 opened #10 "Accidental Issue"
accidental issue

[2010-12-08 04:36] 525c1e21-bd67-4735-ac99-b4b0e5262290 commented on #10
closing...

[2010-12-08 04:36] #10 closed, assigned to nobody

[2010-12-08 04:38] 525c1e21-bd67-4735-ac99-b4b0e5262290 opened #11 "Persistant banner"
Make the banner persist across all pages (specifically search) so that you can get back to the homepage.

[2010-12-08 06:31] #3 closed, assigned to nobody

[2010-12-08 15:32] antekpiechnik opened #12 ""Don't show" option in the form"
I have a few projects which I used with github to simply share the code with fellow students or simply for my own purposes and I am not sure I want them displayed on stillmaintained. How about a fourth options stating that it shouldn't show up there at all ?

[2010-12-08 15:54] garybernhardt opened #13 "Support forks"

[2010-12-08 16:37] jeffkreeftmeijer commented on #13
The reason I didn't implement it in the first place was to avoid the confusion about which one's the original repository. Also, I didn't think people would actually want to put up their forks, since they're mostly made to patch the main repository.

Any ideas on how to do a nice implementation? :)

[2010-12-08 16:40] jeffkreeftmeijer opened #14 "Add default "unknown" status button"
For unknown projects. :)

[2010-12-08 16:40] jeffkreeftmeijer opened #15 "404"
Don't die on 404. ;)

[2010-12-08 16:41] jeffkreeftmeijer opened #16 "Error page"
Serve a nice error page when stuff goes wrong. :)

[2010-12-09 21:11] jeffkreeftmeijer commented on #16
044b43156e6e7dd16a72ce421e5b613b6b7e82ff

[2010-12-09 21:11] #16 closed, assigned to nobody

[2010-12-09 21:22] jeffkreeftmeijer commented on #12
c42c47bf032ec9f61ed095532a93636c4add0869

Thanks Antek, great idea. :)

[2010-12-09 21:22] #12 closed, assigned to nobody

[2010-12-09 22:43] jeffkreeftmeijer commented on #6
Add state filtering. Closed by 40d5758d714ef6c272e5430b0f02751d388f796d

[2010-12-09 22:43] #6 closed, assigned to nobody

[2010-12-10 21:42] jeffkreeftmeijer commented on #1
Use Machinist, closed by 416b2fd00c2d259a7a3006ede699ef3aeae76cb9

[2010-12-10 21:42] #1 closed, assigned to nobody

[2010-12-11 08:41] jeffkreeftmeijer commented on #14
Closed by f8bcf595c9dad20bc31f9fae213bffb99b5b98db  :)

[2010-12-11 08:41] #14 closed, assigned to nobody

[2010-12-13 14:35] rkh opened #17 "Organization support is buggy"
I am owner of the sinatra organization and have explicit push access to sinatra/sinatra, yet only sinatra/sinatra.github.com shows up in my list.

[2010-12-13 14:49] jeffkreeftmeijer commented on #17
That's not a bug in the organization support, this is because sinatra/sinatra is a fork and StillMaintained doesn't support forks right now. I'll dive in and see if I can think of a nice implementation.

Here's the issue about forked projects: https://github.com/jeffkreeftmeijer/stillmaintained/issues#issue/13

[2010-12-13 15:50] jeffkreeftmeijer commented on #13
Add fork support, closed by ad30da98f32fb14dc9d74f4f88a3a08662642cb7

[2010-12-13 15:50] #13 closed, assigned to nobody

[2010-12-13 16:00] jeffkreeftmeijer opened #18 "Forked repositories"
You can add forked repositories now and they'll get a proper status page, but they won't show up in the project list right now. I know this is not ideal at all, but I'm not sure how to properly solve this without cluttering the lists with forked repositories.

An idea would be to add a button to the lists to show forked repositories. Any other ideas?

[2010-12-13 16:01] jeffkreeftmeijer commented on #17
You can add forked repositories now (they will get a status page but won't show up in the project lists), so #13 is closed.

I created #18 since the implementation is still far from perfect.

[2010-12-13 16:04] rkh commented on #18
when setting the project status, add a check box like "include this in project listing" or something. would love to have that in general (maybe just make the default dependent on whether it is a fork or not).

[2010-12-13 16:04] rkh commented on #17
still doesn't fit the sinatra case exactly, but fair enough. thanks for your hard work.

[2010-12-13 16:12] jeffkreeftmeijer commented on #18
When adding your projects, the projects are set to "Don't list this project" by default and the projects only get listed when you give it a status. I'm not sure how much it would help to move this to a separate checkbox.

I'll keep that in mind though. :)

[2010-12-13 16:14] rkh commented on #18
Yeah, you're probably right. Maybe just add it for forks. Or maybe add the fork to the projects lists if the status for the projects it's forked from is not set. Maybe that's a bit complex, though. In regard to caching and what not.

[2010-12-13 16:27] jeffkreeftmeijer commented on #18
Forked projects show up on user/organization specific project lists now: http://stillmaintained.com/sinatra , marked with "(fork)".

[2010-12-13 16:43] rkh commented on #18
Awesome!

[2010-12-13 19:44] nvie opened #19 "List the projects and radio buttons in a table on the "Adding your work" page"
I think this might make the page a bit more compact if you have many projects. You could have a row per project and columns for the options. This would take a bit less scrolling when entering your input.

WDYT?

[2010-12-13 20:03] jeffkreeftmeijer commented on #19
Sounds like a nice idea, but I'm not sure if I want to make the pages any wider. I agree the form needs some work, though. :)

[2010-12-14 00:01] #17 closed, assigned to nobody

[2010-12-20 17:06] jeffkreeftmeijer commented on #15
Add project 404 pages. Closed by 9e5ef281872d25476782279d03e58d41c0689b38

[2010-12-20 17:06] #15 closed, assigned to nobody

[2011-01-27 18:26] mcmire opened #20 "Not quite abandoned, not quite still maintained"
Hi there! First off, thanks for Still Maintained, I like the idea. One feature request I have is for a another status. Right now we have essentially "still maintained", "willing to give to someone else", and "not looking and abandoned". I think "still maintained" could be interpreted as "actively working on or maintained". However I have several projects which I haven't worked on for a while, but

[2011-02-12 10:49] jeffkreeftmeijer commented on #20
I'd like a on-hold state for people still willing to maintain projects but not actively working on them right now. I'm not sure about the name though... Thoughts? Anyone? :)

[2011-02-12 10:59] joshk commented on #20
In a nutshell I like the idea of another status, finding the write word / phrase is the hard part. Caution also needs to be taken as when do you draw the line on adding new statuses?

In general I support this, but it all comes down to the word / phrase, brainstorm time me thinks!

[2011-02-22 22:08] afeld commented on #20
I think "still maintained" still applies here - if it doesn't need maintenance, then not making any changes shouldn't count against you!

[2011-05-16 01:01] inkel commented on #2
I'm working on a [related feature](https://github.com/inkel/stillmaintained/tree/feature/responsive), that is, adding responsive web design to the application. It still needs some tweaks and fixes but is a start.

[2011-05-16 07:56] jeffkreeftmeijer commented on #2
@ivanasetiawan: @inkel told me we might need the logo in different sizes for this. Can you add psd of the header in a directory called "resources" in the project root so we can work with it?  :)

[2011-05-16 10:26] ivanasetiawan commented on #2
sure :)

[2011-05-16 17:12] inkel commented on #2
@ivanasetiawan by any chance do you have a standalone PSD version of the logo? In order to be able to resize it.

@pyrotechnick requests a nice _feature_ in issue #11: having a persistent banner on top of the pages with a link to the home page. I was planning to put the logo and the site H1 for this banner (if you both agree that is a good idea, of course), so I'll probably send you later a mock u

[2011-05-16 17:58] jeffkreeftmeijer commented on #2
@inkel of course, I'd love to see a mockup!

Can't you use the PSD @ivanasetiawan sent? The logo is in there, right? :)

[2011-05-16 19:34] inkel commented on #2
Yeah, I eventually found the logo. I'm not very good with graphic tools :)

[2011-05-17 00:29] inkel commented on #2
It's official: I suck at graphical skills. Anyway, I continued working on responsive web design for the application, you can see some screenshots at [my Flickr set](http://www.flickr.com/photos/inkel/sets/72157626613570503).

If you have a Flickr account feel free to leave any comment you like, I will push the branch later.

[2011-05-17 16:22] jeffkreeftmeijer commented on #2
It's looking awesome. Please let me know when it's done so I can merge it in. :)

[2011-05-17 19:39] inkel commented on #2
I'm glad you like it!

I think it's almost done, at least the responsive part. There are some other improvements that I think would add better usability to the site, but those are outside the scope of _this_ issue ;)

[2011-05-18 03:20] inkel commented on #2
Well, at least for iPhone and iPad I think I'm done ;)

I don't have an iPad so I wasn't able to really test it. On my iPhone 3GS looks, modestly speaking, great. Tomorrow at the office I'll ask a coworker of mine for his iPad and test it for real. In the meantime if you have an iPad, feedback is appreciated!

Everything is pushed at the feature/responsive branch, however I think I made a mistake

[2011-05-18 03:30] inkel commented on #11
I totally agree with this idea, I've found myself looking for a way to return to the homepage more than once.

[2011-05-19 01:08] inkel commented on #7
According to GitHub they've discontinued the Pledgie plugin (see the update in the original post [Getting Paid the Open Source Way(https://github.com/blog/57-getting-paid-the-open-source-way).)

One thing I was thinking lately was adding a new state other than the existing ones for projects that are not abandoned nor active nor looking for a new maintainer but looking for collaborators. Then you c

[2011-05-19 01:24] inkel commented on #20
As I've commented in #7 I think that a _looking for contributors/help_ might be an interesting state for a project. Sometimes you're interested in making your project grow or you think the idea is good but some things are missing (e.g. documentation, bug fixing, etc.) and you don't have the time to work on them but are willing to accept patches/pull requests.

[2011-05-19 01:30] inkel commented on #19
At first I agreed with the idea of a table or similar layout for the projects, but then I realized that if for instance you have many projects then the table header might disappear or be far away from the current option, which I think it's more error prone than the current layout, which even though it repeats itself and produces longer forms it is very project specific.

[2011-05-19 03:09] mcmire commented on #20
I like that. I think that's closer to what I was trying to say.

[2011-05-21 13:54] jeffkreeftmeijer commented on #2
I reverted @ff0f3c5 and I'll check the responsive branch in the iPhone and merge it in. Awesome work! :)

[2011-05-21 19:31] inkel commented on #2
Thanks! I am looking forward to your feedback/approval :)

[2011-05-21 19:32] ivanasetiawan commented on #2
@inkel cool stuff :)

[2011-05-21 19:58] inkel commented on #2
Thank you Ivana!

[2011-05-21 20:38] jeffkreeftmeijer commented on #2
Looking awesome. The only thing I'm having trouble with is the ad (and the webbynode logo). Unless anyone has a better idea, let's just hide it (using display:none for now). Can you pick that up @inkel? If you can't, I'd be glad to do it, but I won't be able to until monday. Thanks for your amazing work (you too, @ivanasetiawan)! :)

[2011-05-21 20:54] inkel commented on #2
I sure can! I had some problems with that too, I came up with the best solution I've found at that moment, because I didn't want to modify too much the HTML.

One of the things that I had in mind was changing the HTML in some places. My idea is not fully changing the layout at all, I think it's great now, but probably some elements could be coupled together or better reorganized in a way that woul

[2011-05-21 21:05] inkel commented on #2
@96e47657a859ec242c4b hides the ad and webbynode logo for resolutions lower than 1024px.

[2011-05-22 10:01] jeffkreeftmeijer commented on #2
Thanks! You're fast!

The iPad version is great, but the iPhone version doesn't have a logo now (I'm not sure if that's a decision you made or something that went wrong, please enlighten me) and the content gets pushed to the sides a bit when holding the device horizontally, maybe we can add a little margin there?  Here's a screenshot of what I mean: http://skitch.com/jkreeftmeijer/fyafy/screen-sh

[2011-05-22 16:45] inkel commented on #2
Yes, the iPhone version excluded the logo. I was unable to make it smaller and look good, and there were not too much room for it, so for the moment it's hidden.

Regarding the padding on the iPad when holding it horizontally no problem, I'll add a bit of padding.

Last but not least: I do not pretend to change Ivana's design, I really like it too, what I meant was only changing the structure, not

[2011-05-22 18:37] jeffkreeftmeijer commented on #2
Can't we css-resize the logo for now?

The padding was fine on the iPad, it's the iPhone version I was talking about.

I wasn't talking about changing Ivana's design at all, I was talking about the structure. Improvements are always welcome! :)

[2011-05-23 22:33] inkel commented on #2
Logo and padding fixed, committed and pushed! Commits @8da0b892901905d3afed and @12bf39123a003c769d01.

As for changing the structure, I'll make a new branch for that, so this is ready for merging if you like to :)

[2011-05-26 08:39] jeffkreeftmeijer commented on #2
I checked the iPhone and iPad versions and they look awesome. I've merged feature/responsive into develop and released 0.1.1. Thanks! :D

[2011-05-26 08:39] #2 closed, assigned to nobody

[2011-05-26 12:37] inkel commented on #2
I'm glad you like it!

I really enjoyed contributing, I'll do my best to keep doing it. Thanks to you for the opportunity!

[2011-05-28 08:15] jeffkreeftmeijer commented on #7
Let's discuss this in #20. I'll close this one for now. :)

[2011-05-28 08:15] #7 closed, assigned to nobody

[2011-05-28 18:38] trans commented on #20
+1 for "looking for help"

I'll also mention that a <i>bounties feature</i> could be pretty helpful. In fact, GitHub could do something like CrowdSpring and make a small percentage off completed bounties.

[2011-06-02 01:24] bkerley opened #22 "I don't want to click 86 radio buttons."
If I've committed to it in the last week/month/year, assume it's maintained perhaps? Provide some kind of sliding scale to auto-maintain/unmaintain my 86 terrible repos.

[2011-06-02 09:03] jeffkreeftmeijer commented on #22
I'm not sure if I understand what you're getting at. How about adding "mark all as maintained" buttons or something? :)

[2011-06-02 12:53] ghedo opened #23 "Cannot log in"
I've not been able to log in for some days. Every time I click on the login button, the _Woah, something went wrong_ page appears.

I've already tried to remove all the cookies (both GitHub and stillmaintained) and remove stillmaintained from the GitHub connections list, but after re-authorizing  stillmaintained via the GitHub app authorization page, the stillmaintained error page appears.

I may

[2011-06-02 13:46] jeffkreeftmeijer commented on #23
Hi Alex,

@CapnKernul messaged me about this on Twitter a while back too. I updated Mongoid, which switched to ObjectIDs instead of strings, like they did before. I didn't know StillMaintained was on such an old version, and the tests passed (since the test database clears every time the test run, there are no old records) after the update. I'm sorry for the inconvenience, I converted the database

[2011-06-02 13:46] #23 closed, assigned to nobody

[2011-06-02 13:49] inkel commented on #23
That's strange. I revoke my permission to do the site and re-connect my account, and it worked.

Could you paste the URL of the _woah, something went wrong_ page?

**UPDATE**: so the issue updated when I was typing my response, hehe.

[2011-06-02 13:54] ghedo commented on #23
On Thu, Jun 02, 2011 at 06:46:34AM -0700, jeffkreeftmeijer wrote:

Confirmed that it works now. Thank you very much.

[2011-06-02 13:57] inkel commented on #22
I think I kind of understand what he means. If it's what I think, I like the idea.

What I understood is that if you committed to a project in the last _variable period_ then the project is automatically marked as still maintained. Say perhaps you set up this period to 2 months. Then all the projects that have commits in the last two months will be marked as still maintained.

I think it's a neat

[2011-06-02 14:04] bkerley commented on #22
One way would be to do it all client-side.
1. For each project, add a data-last-commit attribute with the timestamp of the last commit before sending the page to the client
2. Draw a slider at the top of the page, with the left edge representing the oldest project on the page, and the right side representing "now"
3. When repositioning the slider, mark everything on the right as "Maintained," and

[2011-06-02 14:13] inkel commented on #22
I like the idea of doing it client-side, that way the decision to mark a project as maintained or not it is still yours.

Having a background job that change repositories' statuses might eventually trigger the problem of marking a project with an invalid status, for example, say you set the slider to one month. Then in the last week you decide to transfer the project to some other author, thus not

[2011-06-02 14:47] jeffkreeftmeijer commented on #23
@inkel that's because your account already existed before Mongoid got updated, so it still had a string ID. This bug only affected new users. :)

[2011-08-04 19:40] ghedo opened #24 "Ruby (Rack) application could not be started"
Seems like something is not working correctly.

I get the following error when I visit http://stillmaintained.com:

[code]

[2011-08-04 20:42] jeffkreeftmeijer commented on #24
Hi Alex, thanks for reporting. It's back up now. :)

[2011-08-04 20:42] #24 closed, assigned to nobody

[2011-10-26 16:36] trans opened #25 "Organizations"
How to handle organizations? I can't find a way to  do it.

[2011-11-12 22:44] ghost opened #27 "Website broken"
I am seeing "Ruby (Rack) application could not be started"

[2012-08-05 20:16] jeffkreeftmeijer opened #28 "Taking over the project"
Since I announced that StillMaintained would be closing down, I got some e-mails from people wanting to take over the project to lead it forward. After replying to some of you, I realised it'd probably be a better idea to have you team up and continue working on the project together, or to at least have a single place to talk about this instead of replying to all of you separately.

I've sent ever

[2012-08-06 15:54] jadb commented on #28
Hi Jeff, and everyone else,

I first contacted Jeff a couple months ago before getting very distracted with my wedding, honeymoon.... and my business of course.

Jeff, i am still eager to take care of this project moving forward and will be glad to work with anyone else that is interested in maintaining it and/or helping to grow it.

I had already set up a server for it that i had to shut down a c

[2012-08-07 18:03] BigBlueHat commented on #28
@jadb congrats on your wedding. :)

I'd love to see StillMaintained.com still be maintained, and am happy to help where I can. Jad, it sounds like you may already have the hosting stuff ready (or easily ready). If not, another option might be to contact EngineYard (which I can do, or we can ask other similar hosts) to see about sponsoring the app's hosting.

Anyway, I hate to see good ideas die, s

[2012-08-14 14:25] jadb commented on #28
Hi guys,

I am back!

@BigBlueHat I don't mind sponsoring the app's hosting for the time being. Not sure what it takes to get sponsored by EngineYard or the likes, but I am confident that my company can handle the cost of hosting this project for the time being.

If you want to give a hand and because, as you can expect, I have a big backlog after a long holiday, I can have 2 machines back up as s

[2012-09-10 09:38] doriath commented on #28
Hi guys,

What is the status of taking over the project? Is there any chance that it will be maintained again?

I will be glad to help in further development.

Cheers,
Tomek

[2012-09-10 10:57] jadb commented on #28
Hey @doriath,

I was waiting on @BigBlueHat to reply but nothing thus far.

If you are interested in helping me getting the site setup, let me know.

As I previously stated, I had a server ready but then stopped it after saving an image of it because I got really busy and wanted to cut down on unnecessary costs. I have now restarted the server based on that old image and it should be all ready.

D

[2012-09-10 14:45] BigBlueHat commented on #28
Yeah, sorry guys. I've taken a new job last week and that's displaced the time I thought I'd have for this...I'm happy to promote this site once it's back up, but I realize that's marginal help...

Hope it goes well, and I'll try and check in once things settle down here.

Looks like we're all busy. Guess/hope that's good! ;)

[2012-09-13 08:23] jeffkreeftmeijer commented on #28
Hey @doriath end @jadb,

You both e-mailed me directly, but I really want to keep the conversation open to make sure everybody knows who's working on what. That'll make sure you're not all working on the same thing.

I've sent Jad a database dump a while back and that's still current (the "add new projects"-button has been disabled since), and that's been imported on the StillMaintained version th

[2012-09-13 14:22] jeffkreeftmeijer commented on #28
Hey @doriath and @jadb,

Sorry for not responding earlier. Here are some more questions to answers Jad asked me:

That's no problem at all. Please let me know when you've removed the Rubyrow and Webbynode links and I'll point the domain to your servers right away.

We're in the new StillMaintained org right now, and you're an admin, so it'd be great if you could invite the rest of the team yoursel

[2012-09-13 19:08] doriath commented on #28
Hej @jeffkreeftmeijer and @jadb,

Could you add me to the organization as collaborator? For now I will use pull requests to contribute to the project.

I sent two pull requests: one with removed the Rubyrow and Webbynode links and the other updating the repository location. After those changes are merged, I will deploy the new version.

The next thing I would like to do is to update the dependenci

[2012-09-13 20:02] jadb commented on #28
Thanks @jeffkreeftmeijer!

I created the collaborators team and added @doriath to it.

@doriath, go ahead, merge the pull requests you have made now that you can and confirm back here please for @jeffkreeftmeijer to point the domain to the server.

I have just finished setting up the named configuration.

Thanks guys!

[2012-09-13 23:03] doriath commented on #28
Thanks @jadb for adding me as collaborator. I merged the pull requests and deployed new version. The links to the Rubyrow and Webbynode have been removed, and link to new github repository is used.

Thanks
Tomasz

[2012-09-14 08:41] doriath opened #31 "Branches role"
Hey @jeffkreeftmeijer and @jadb,

I would like to ask about the branches `develop` and `master`. I see that `develop` is the base branch instead of `master`. What is the reason for that?

How the development of new features have been done so far? You have been adding them to `develop` branch, and then when you wanted to deploy, you merged it with `master` branch?

I was a little confused yestarday

[2012-09-14 12:20] jeffkreeftmeijer commented on #31
Hey Tomasz,

I hope [this article](http://jeffkreeftmeijer.com/2010/why-arent-you-using-git-flow/) answers your question. Feel free to figure your own branching strategy with @jadb, though. :)

-- Jeff

[2012-09-14 12:58] jeffkreeftmeijer commented on #28
Hey guys,

I set out to switch to Jad's name servers, but I can't change anything anymore since we're already transferring the domain name. I guess we'll just have to wait.

[2012-09-14 13:09] doriath commented on #31
Hey @jeffkreeftmeijer,

Thanks for the article. I will try to follow your branching strategy.

-- Tomasz

[2012-09-14 13:11] #31 closed, assigned to nobody

[2012-09-16 17:55] doriath opened #32 "No more inbox on GitHub"
Github removed the inbox feature, that stillmaintained was using. We could fix it, by memorizing the email address of every user, and show the email link instead of github inbox link. This link appears in `views/not_found.haml` and `views/projects/show/searching.haml`.

Also, I suggest removing the last line in README, that point to jeff's github inbox (that does not exist any more).

What do you

[2012-09-17 06:04] jadb commented on #32
@doriath, sure why not. Better than having broken links.

[2012-09-18 08:37] doriath commented on #32
Unfortunatelly, not every user has a public email, so I decided to replace the links to github profile page instead. Using email address, would require one additional call to github api and also we would need to handle users without emails somehow. This solution should be enough for now, to fix broken links.

https://github.com/stillmaintained/stillmaintained/commit/50229229d3a42cd06e2e6b07c5e4b62

[2012-09-18 08:37] #32 closed, assigned to nobody

[2012-10-04 01:29] doriath commented on #28
The domain stillmaintained.com is pointing on new server and stillmaintained is up and running again :).

[2012-10-04 01:42] doriath commented on #27
The www.stillmaintained.com website is up and running again (more information in #28).

[2012-10-04 01:42] #27 closed, assigned to nobody

[2012-10-04 06:35] jadb commented on #28
I think we can close this issue now. If anyone believes it should be reopened, feel free to do so.

[2012-10-04 06:35] #28 closed, assigned to nobody

[2012-10-05 23:39] doriath opened #33 "Not existing repositories"
There are times when github project is abandoned and then removed from it. I would like to discuss how stillmaintained should react on following situation:

The user creates a project and logins to the stillmaintained website. That automatically creates the project on stillmaintained website. Later, the project is removed from the github and user logins again to stillmaintained website. What shoul

[2012-10-09 07:44] jadb commented on #33
@doriath - I totally agree. If there is no page for the project to be found on GH, there shouldn't be one on SM either. How do you plan on checking those against GH?

[2012-10-11 03:14] doriath commented on #33
I am planning to implement following feature. Right now, every time user signins, we are fetching all his repositories from github. Base on that information we are updating and creating new projects. I want to add the function, that will check for projects that exists on StiiMaintained but do not in github (just by comparing the list from github and stillmaintained) and remove them. It should not

[2012-10-11 10:45] jadb commented on #33
It could work but I think shell + cronjob would be more appropriate for such task. No?

It is easier to then call that same shell when the user signs in.

[2012-10-12 02:06] doriath commented on #33
I can make it work as cronjob too.

How often do you think we should check all users and remove theirs not existing projects? What do you think about checking users every week?

[2012-10-20 17:34] doriath commented on #33
It took me some time to implement this, but it should be working now. Every time user sign in, we remove not existing repository, and also we do this automatically every week (with cronjob executing rake task).

[2012-10-20 17:34] #33 closed, assigned to doriath

[2012-10-21 18:51] doriath commented on #25
Right now there is partial support for organizations, but I would like to rewrite that functionality. I would like to add following features:
- separate user repositories and organization repositories. First, all user repositories will be listed, then the organization name will be displayed (e.g. 'Projects of <org name> organization') and then the list of projects of that organization. That way us

[2012-10-22 08:02] jadb commented on #25
Sounds perfect @doriath!

[2012-10-22 08:05] jadb commented on #33
yay! nice! haven't checked it yet but will do shortly.

[2012-12-11 09:59] AlekSi opened #34 "Project is missing"
My page on http://stillmaintained.com says: "Hi AlekSi, here's a list of every Github project you started." But there at least one project is missing: https://github.com/AlekSi/nut

[2012-12-11 13:41] doriath commented on #34
Hi, thank you for reporting the bug.

I found the cause and here is short explanation. Github API is using pagination and returns only 30 responses (I didn't know about it before). If you go to https://api.github.com/users/AlekSi/repos, you will not see the nut project. In the headers, github returns links to the next page that we should use:

[code]

I will try to fix that as soon as possible.

[2012-12-14 23:18] doriath commented on #34
Could you check if it is working now? I don't have so many repos to check if pagination is working correctly.

[2012-12-16 12:12] AlekSi commented on #34
I don't see any changes.

[2012-12-16 21:26] doriath commented on #34
Sorry, I found out that I fixed the problem but did not deployed the new version. It is working right now. Once you confirm it, I will close that issue.

[2012-12-17 08:14] AlekSi commented on #34
Yes, it works. Thank you.

[2012-12-17 08:14] #34 closed, assigned to nobody

[2012-12-24 02:12] doriath commented on #25
Sorry it took me so long but I finally reimplemented the organization logic in stillmaintained and it should work as described in my previous post.

I believe we can close this issue now.

[2012-12-24 16:24] #25 closed, assigned to doriath

[2012-12-24 16:28] jadb commented on #25
Very nice work you got done there. Thanks!

[2013-01-21 10:47] Potherca opened #35 ""Log in via Github to add your work" broken."
When I click the "login with github" button on the frontpage I get an error on the page I:
"Woah, something went wrong
We’ve been notified of the issue, but you can always report additional information. Do you want to go back to the homepage?"

The url is I am at when the error occurs is `http://stillmaintained.com/auth/github/callback?code=5aa65c5f11ddf20f7a0d&state=d8d8e6d51a0f61229080367b994cf5

[2013-01-24 17:37] jadb commented on #35
Hi @potherca,

I just tried it and it's working fine for me. Can you please try again? Maybe try with a different browser?

Thanks,

Jad

[2013-01-24 22:10] doriath commented on #35
Hi,

Sorry for late response. I could not reproduce this issue either (I tried for new and already existing users). Could you confirm that the problem still exists?

While trying to debug this problem, I found out two problems in current system:
1. On every restart we lose all our logs (we are truncating the old log file instead of appending to it).
2. I will create the airbrake account and config

[2013-01-24 22:20] jadb commented on #35
Thanks @doriath as usual! :+1:

[2013-01-24 23:21] Potherca commented on #35
the problem occurs for me regardless of the browser I use. I've tried this with Firefox 11, Chromium 18 and Chrome 21. I am on LinuxMint 10 (although I suspect that will not proof to be relevant).

I've tried with and without already being logged in to Github, all lead to the Woah/Error.

Under my Github application settings, StillMaintained shows up in the Authorized applications list, so access

[2013-01-25 02:32] doriath commented on #35
Ok, the problem should be fixed now. Could you confirm and close the ticket?

The problem was with handling private repositories and this is why it was not working for your account. Thanks again for reporting that.

[2013-01-25 11:34] Potherca commented on #35
I can confirm it works for me now.

[2013-01-25 11:34] #35 closed, assigned to nobody

[2013-02-26 12:20] treffynnon opened #36 "Travis CI have updated their status buttons"
As you may already know Travis CI have updated their status buttons to make them easier to read. So for example:

![Travis CI status](https://secure.travis-ci.org/treffynnon/Navigator.png?branch=master)

So now the still maintained buttons look a little odd beside them. For an example please see: https://github.com/treffynnon/Navigator

More details about the status button change can be found in t

[2013-03-05 12:00] hkjels opened #37 "Documentation"
How do you add an interactive banner? Adding a static resource of "still maintained" kind of defeats the purpose as I would have to maintain the banner in my readme manually.

[2013-03-05 12:02] hkjels commented on #37
Adding some useful bits about the subject to the wiki would suffice I guess.

[2013-03-05 15:14] doriath commented on #37
In theory, the stillmaintained README contains the dynamic banner/badge so you can check how it can be done. But I agree, there is no documentation about how to add the badge to the README file. I will write the wiki subject and point to it from the README file. Thanks for reporting it!

[2013-03-29 21:31] jadb commented on #37
Here's a shameless adaptation of Travis-CI's how-to for StillMaintained:

https://github.com/stillmaintained/stillmaintained/wiki/Adding-status-image-to-README-file

[2013-03-29 21:31] #37 closed, assigned to nobody

[2013-04-13 02:00] joshgoebel opened #38 "Project descriptions need to be HTML escaped"
Reference:

https://github.com/stillmaintained/stillmaintained/commit/9ba9020d3db4d41176204b0ca5e63e012c39e7b8#commitcomment-3004919

[2013-04-13 21:45] doriath commented on #38
Commit 5025faf4c4676d7679a86681d995310a82cd3ba8 fixes the bug. Thank you for reporting it!

[2013-04-13 21:45] #38 closed, assigned to nobody

[2013-04-13 22:18] joshgoebel commented on #38
Thanks. I knew it'd be easy.

[2013-05-27 21:04] jeffkreeftmeijer opened #39 "Down"
I've been getting reports via Twitter that StillMaintained is down (http://www.downforeveryoneorjustme.com/stillmaintained.com). @jadb, could you check it out?

[2013-05-28 21:29] jadb commented on #39
Hey Jeff,

I have been struggling with RackSpace - was out of the country and the credit card was maxed out. They wouldn't wait for me to get back before suspending the account. I am now trying to get them to re-instate my access so I can re-activate the server.

Waiting for them to get back to me. I will keep you posted.

:(

[2013-05-28 21:44] jadb commented on #39
Ok,

Gained access back and everything should be back online within the next 10 to 20 mins according to them.

I will check and update/close this issue then.

[2013-05-28 21:46] jadb commented on #39
Site is back up. Sorry for the downtime.

[2013-05-28 21:46] #39 closed, assigned to nobody

[2013-05-28 21:50] doriath commented on #39
Thanks!

[2013-06-08 19:24] ELLIOTTCABLE commented on #36
+1

[2013-06-13 22:28] AlekSi commented on #36
:+1:

[2013-08-07 15:49] Jamesking56 commented on #36
:+1:

[2013-09-17 02:04] ELLIOTTCABLE commented on #36
Update: @whit537 has taken over the project, and is providing a service to generate nice badges.

It should be trivial to update stillmaintained to use that generational service, now, so they look good alongside all the other useful badges.

(Also, it supports Retina displays, so that's a plus … no more fugly-ass 1x “still maintained” badge.)

[2013-10-02 21:13] patcon opened #40 "Performance concern: Badges not loading"
Hi there,

Really like the idea of the project, but since it's such a "nice to have", then I'm sure people are going to be reluctant to use it if the functionality of its targeted feature set fails into question. Currently, the site itself is very slow to log into, and the generation of the (presumably cached) badges is taking forever.

I don't think I'll end up using the service in light of this,

[2013-10-02 21:14] patcon commented on #40
Ah... seems it was an https issue in the recommended template :) You might want to disable https all-around on the site. It's incredibly slow.

[2013-10-19 23:36] doriath commented on #40
Hi,

Thanks a lot for reporting the problem. I fixed the wiki, to point to http instead of https (I believe https is not working at all). Is the page working slowly on http too, or only https was a problem?

[2013-10-21 16:13] patcon commented on #40
Thanks! It was just https :)

[2013-10-21 16:13] #40 closed, assigned to nobody

[2013-12-10 22:45] GrahamCampbell opened #42 "Unable To Remove Repos Deleted From GitHub"
Should these not be garbage collected anyway, and removed from the listing?

[2013-12-12 00:31] doriath opened #43 "Periodically backup database"

[2013-12-12 04:24] doriath commented on #42
Thank you for reporting the issue. I just released new version that will remove deleted repositories from github. Please sign in and verify that deleted repos do not appear any more.

[2014-01-27 02:47] #42 closed, assigned to nobody

[2014-01-27 12:47] GrahamCampbell commented on #42
All good now. Thanks.

[2014-02-09 20:38] bf4 opened #44 "Site is down. Still maintained?"

[2014-02-10 05:31] doriath commented on #44
@jadb, could you help to diagnose why the site is down?

[2014-02-11 22:49] jadb commented on #44
Fixed. Thanks for reporting it.

@doriath It was a DNS problem.

[2014-02-11 22:49] #44 closed, assigned to nobody

[2014-03-06 06:54] jonathanong opened #45 "github oauth login is stalled"
it's not doing anything... maybe your server kind of died at 11pm PST?

[2014-03-06 06:54] jonathanong commented on #45
oh you know what. it's because it scanned ALL the repos in ALL my orgs, which is like 1k. got it.

[2014-03-06 06:54] #45 closed, assigned to nobody

[2014-03-06 06:57] jonathanong opened #46 "do an autocomplete search of repositories instead of creating radio buttons for every single repository"
terrible UI. should be:
1. search for repo
2. select maintenance option
3. log the change or something
4. clear the search menu for a new search

[2014-03-06 06:58] jonathanong opened #47 "what about repos in which you've been added as a collaborator?"
can't see that. might be a github thing since i can't see them on travis, either.

[2014-03-13 16:25] jadb commented on #47
Thanks for reporting it @jonathanong.

Haven't looked into it but I believe it should be up to the code maintainer to decide and thus to connect his/her account.

I am closing it as I don't believe it's something that will ever be implemented.

[2014-03-13 16:25] #47 closed, assigned to nobody

[2014-03-13 16:29] jadb commented on #46
For now, we have no plans of adding functionality to the application. I have labeled it as an 'future-enh'  and closed it. When, and if, we decide to work on the codebase (aside from fixing critical bugs), it will be taken into consideration.

Thanks for your input @jonathanong.

[2014-03-13 16:29] #46 closed, assigned to nobody

[2014-03-13 16:30] jadb commented on #43
@doriath - snapshots of the entire VM are already in place (daily and weekly).

[2014-03-13 16:30] #43 closed, assigned to nobody

[2014-03-13 16:37] #36 closed, assigned to nobody

[2014-03-13 16:38] #4 closed, assigned to nobody

[2014-03-13 16:38] #11 closed, assigned to nobody

[2014-03-13 16:38] #18 closed, assigned to nobody

[2014-03-13 16:38] #19 closed, assigned to nobody

[2014-03-13 16:38] #20 closed, assigned to nobody

[2014-03-13 16:38] #22 closed, assigned to nobody

[2014-04-17 13:29] h4cc opened #48 "Add links to badges on site"
I cant find the links for badges on your site.
Please add them somewhere, so its easier to use them.
(This will also spread usage of your site)

[2014-06-25 20:11] brycefisher opened #49 "Can't change the status of repos on stillmaintained.com"
I just logged in to checkout this project and mislabeled some of my repos. I feel a bit silly here, since I can't figure out how to change my repos status -- I'm sure I'm missing something really obvious! Sorry to be that guy :-)

[2014-06-25 20:19] doriath commented on #49
I think you have to repeat the same steps:
- go to http://stillmaintained.com/
- click "Log in via Github to add your work"
- perform any edits for your projects
- click "Submit"

[2014-06-25 21:11] brycefisher commented on #49
Awesome! Thanks

[2014-06-25 21:11] #49 closed, assigned to nobody

[2014-07-08 23:37] nubs opened #50 "Use shields.io for badges"
http://shields.io/ offers the ability to create a nice clean consistent look to badges and can also help spread information about services like this one.  If you could use their badges, that'd be nice :)

[2014-09-01 07:55] h4cc commented on #50
+1  The SVG batches look way nicer than the PNG ones.

[2014-09-01 07:55] h4cc commented on #48
Ping pong?

[2014-09-02 03:21] jadb commented on #48
Hey h4cc,

Sorry for the late reply. I am actually working on v2 and new badges + instructions are top priority.

Will update this issue when I am deploy the related changes.

[2014-09-02 03:23] jadb commented on #50
I hear you guys and it's on the roadmap. See #48, closing this one.

[2014-09-02 03:23] #50 closed, assigned to nobody

[2014-11-05 15:00] kbrock opened #51 "Next steps for stillmaintained?"
Hi, this is great. Don't see much activity and curious if you are still working on it.
- Rubygems is talking about an adoption center. Have you looked into that and how it may help with stillmaintained? rubygems/rubygems.org#725
- You mention badges, but I don't see how to create it.
- Could you add a paragraph to the top of the README.md so I can know the premise and purpose of this project rathe

[2014-11-08 05:35] jadb commented on #51
Hey @kbrock,

I will try my best to address your questions below.
- Thanks for pointing me to the rubygems adoption center discussion. Not sure how it would help stillmaintained or the other way around but maybe the other answers will.
- I admit, instructions/info are really scarce but this will soon be fixed (more to come below).
- See previous point.
- You're totally right, the total number of p

[2014-11-10 03:51] kbrock commented on #51
@jadb Yea. I was wondering if this could be used instead of the adoption center.

Sorry to see this leave ruby. But since this spans multiple technologies, I can appreciate how it may make sense.

re: Total number of projects. I got blank page syndrome. I had no idea what to search. I almost wanted a list of the most popular projects at the top. (ruby-toolbox and rubygems both tried to find metric

[2014-11-10 17:01] jadb commented on #51
@kbrock thanks for some clarifications and pointers.

For the total number of projects, right now, only the number of tracked projects is listed. See [here](http://stillmaintained.com/projects). The update will show top projects (by number of stars) and most recently added projects.

re: dormant projects, I like being able to discuss this more with someone who seems to have seriously given it some

[2014-12-04 22:09] maclover7 opened #53 "Domain expiration"
The domain stillmaintained.com has expired.

[2014-12-05 02:10] jadb commented on #53
thanks for the heads up!

renewed - should be propagating.

[2014-12-05 02:10] #53 closed, assigned to nobody

[2014-12-11 21:56] moleksyuk commented on #48
HI @jadb
svg files are not supported by github anymore - http://stackoverflow.com/questions/13808020/include-an-svg-hosted-on-github-in-markdown

Any plans to migrate to png?

[2014-12-12 02:29] jadb commented on #48
Thanks @moleksyuk! It's fixed now.

[2014-12-12 02:29] #48 closed, assigned to nobody

[2015-01-08 07:59] mindblender opened #54 "Organizations on stillmaintained.com?"
I used to have my organization's projects on still, but now I'm getting a broken image.  If I go to the image directly (http://stillmaintained.com/phpcollab/phpcollab.png) I get an internal server error.  If I click the "manage my packages" I don't see my organization listed.

I thought Organizations was added in issue #25.

Any insight you could provide on this?

Thanks!

[2015-03-11 20:18] renatoathaydes opened #55 "Cannot see all my projects in the edit page"
I cannot see/admin all my projects in the edit page as it only allows 30 projects to be displayed, it seems!

There should be paging or at least increase the limit of projects.

[2015-04-07 08:56] samsonasik commented on #55
:+1: for this, I only see forked repository

[2015-04-22 08:53] ivanasetiawan opened #56 "Frontend"
Hi! I'd like to help with frontend/UX design if needed?
Who should I be contacting? :)

Thanks!

[2015-04-22 16:18] jadb commented on #56
Hey! Great to hear. I'd be the person and as you can see, not a design type of person! Let me know if you prefer here, over IRC or on Skype.

[2015-04-22 20:53] ivanasetiawan commented on #56
Skype please :) My ID is ivanasetiawan. Looking forward!

[2015-04-26 15:45] jadb commented on #56
@ivanasetiawan just added you, sorry been really busy. Looking forward too!

[2015-04-26 15:45] #56 closed, assigned to nobody

[2015-04-26 15:47] jadb commented on #55
Sorry I've been really busy. I am assigning this to myself so I don't forget about it. Will update when it's done (probably this week).

[2015-05-14 11:59] zakhenry commented on #54
+1 how doe I add orgs?

[2015-05-30 14:44] hellopablo opened #57 "Broken badges"
Hi,

I'm finding all the badges on my projects are broken. I only just joined and set it up, but I don't think it's an issue on my part.

The direct URLs work just fine, it's when they're cached behind githubusercontent that they 404.

Not sure if it's something you can address with cache headers etc?

Cheers!

Pablo.

[2015-06-05 08:58] ZeeCoder commented on #57
I had a similar issue.
The markdown code provided on the site doesn't work with https, I had to replace them with http.

**Edit:** Ugh, I just realised even this repo's badge is broken. O.o

[2015-06-09 06:49] h4cc commented on #55
Confirmed: New Github Repos do not show up, even after days.

[2015-08-25 01:18] ajoberstar commented on #54
+1 I'd like to use this too.

[2015-08-26 16:00] mindblender commented on #54
Sadly, I'm guessing that Stillmaintained isn't being maintained.

[2015-10-01 08:41] Enelar commented on #54
+1 for last comment

[2015-10-24 07:56] CzBiX commented on #57
@jadb Just as @ZeeCoder said, HTTPS of this site have some issue.
It only provided one SSL cert without the full cert chain, please fix it.

[2015-11-23 17:09] mommel commented on #55
:+1: Only 30 are shown

[2015-12-03 17:18] davisonio opened #59 "Is stillmaintained still maintained?"
stillmaintained.com seems to have expired...

/cc @jeffkreeftmeijer

[2015-12-03 18:35] jeffkreeftmeijer commented on #59
@jadb has been maintaining the project for the last couple of years. What's up Jad? :)

[2015-12-07 12:23] dgoguerra commented on #59
Yes, the links to badges it provides for projects README's are broken. The irony...

[2015-12-13 17:58] davisonio commented on #59
The domain gets deleted 30 days after expiration date (December 28) I believe, so we don't have long. I wouldn't like for this great project to die... @jadb

[2015-12-21 02:04] acrogenesis commented on #59
pinging also @doriath

[2016-01-03 19:12] davisonio commented on #59
Looks like the domain is now on backorder and [bidding has started](http://www.namejet.com/Pages/Auctions/BackorderDetails.aspx?domainname=stillmaintained.com)... Currently at $69.

[2016-01-08 15:04] jadb commented on #59
Arg! What?! Very long story...

I am in contact with BuyDomains.com who are auctioning it to try and deal a buy it now price (they initially asked for 5K).

Once all this is (hopefully) resolved, I'll get time to write more on the WTF.

[2016-03-07 13:26] Potherca commented on #59
Everything linking to http://stillmaintained.com/ is already broken as-is. Why not just use a different domain (like `.center`, `.directory`, `.help` or `.software` or something less exotic like `.net`) and tell BuyDomains to stuff it?

[2016-03-07 13:36] jadb commented on #59
I have thought of this but then I found out about this https://github.com/badges/shields/issues/607 and in its current state, SM doesn't do much more than having the user update it (doesn't automatically tell if stale). Which makes a badge on shields acts the same with the only difference that there is no UI to manage the status of ones' collection of projects.

I had plans to automate some stuff

[2016-03-07 13:48] Potherca commented on #59
I'm afraid I don't really have any time to contribute :disappointed:. Anyone else?

[2016-05-17 19:26] maxlinc commented on #59
Is the data lost or just the domain?

[2016-05-18 15:50] jadb commented on #59
Just the domain.

[2016-05-18 16:16] davisonio commented on #59
What do we think it the next step here? I don't think there's any point in going through the BuyDomains route - they're incredibly expensive.

As for myself contributing, I may possibly be able to help in a few ways here and there.

A few ways forward:
- someone splash out the cash from BuyDomains
- use a new domain e.g. still-maintained.com, stillmaintained.net
  - perhaps write a GitHub bot to h

[2016-08-26 16:36] rnhurt commented on #59
It might be helpful to get a dump of the data.  Maybe we can get a Jekyll page up and running and use pull requests to update the status of the applications.

[2017-04-12 17:57] Kristinita commented on #59
@doriath, @jadb, status?

Thanks.

[2018-09-09 22:31] #59 closed, assigned to nobody

[2018-09-24 20:01] michaelbutler commented on #57
It looks like the `stillmaintained.com` domain has been expired and bought up by a domain squatter and is currently asking about $1600 USD for it.

[2018-11-27 23:13] #57 closed, assigned to nobody